/*jewsroch.com design and code by: Chad Jewsbury copyright 2009-2010
 ===== global styles =====  */body{background-color:#FFF;font-family:"Trebuchet MS", sans-serif;margin:0;padding:0;text-align:center;}
p,h1,h2,h3,h4,h5,h6,li{margin:0;}
/* ===== header styles =====  */div#container{margin:0 auto;width:1000px;}
div#header{background:#FFF;height:100px;position:relative;top:30px;width:1000px;}
/* ===== banner left =====  */div#bannerLeft{background-color:#FFF;height:100px;left:0;margin:0;position:absolute;top:0;width:350px;}
#bannerLeft img{border:none;float:right;left:80px;position:absolute;top:0;}
/* ===== banner right =====  */div#bannerRight{background-color:#FFF;height:65px;padding:20px 0 0;position:absolute;right:0;top:14px;width:345px;}
div#bannerRight img{left:0;position:absolute;top:0;}
div#bannerRight h3{bottom:20px;color:#CC2526;display:block;left:0;position:absolute;top:38px;}
/* ===== index content styles =====  */div#content-index{background:url(../images/indexLeland.png) center no-repeat;display:block;height:450px;left:auto;margin:0;position:relative;text-align:center;top:30px;width:1000px;}
div#m22{display:block;height:155px;left:570px;position:absolute;top:150px;width:155px;}
#m22 a:link,#m22 a:visited{display:block;height:155px;left:0;position:absolute;top:0;width:155px;}
#m22 a:hover{background-image:url(../images/m22Hover.png);background-repeat:no-repeat;display:block;height:155px;left:0;position:absolute;top:0;width:155px;}
#m22 a span{display:block;height:155px;visibility:hidden;width:155px;}
/* ===== content styles =====  */div#blueBorders{border-bottom:6px solid #BFE6FF;border-top:6px solid #BFE6FF;height:450px;margin:-6px 50px 0;position:relative;top:0;width:900px;}
div#content{background:#FFF;display:block;left:auto;margin:0;position:relative;text-align:center;top:30px;width:1000px;}
div#wrapper{left:auto;margin:-425px 50px;position:relative;text-align:left;width:900px;}
div#left{border-right:6px solid #BFE6FF;float:left;height:390px;margin:6px 0 0;position:absolute;width:250px;}
#right{float:right;height:390px;overflow:hidden;width:580px;}
div#content2{display:block;overflow:auto;visibility:visible;width:580px;}
#right p{line-height:1.5em;margin:0;padding:5px;text-align:left;}
#right h3{text-align:center;}
.tab h3{background:#FFF;color:#CC2526;font-size:14px;margin:5px 5px 5px 10px;padding:3px;text-align:center;text-decoration:none;}
.stretcher{background:#FFF;}
/* ===== navigation styles =====  */div#navigation{height:85px;margin:450px auto;position:relative;text-align:center;top:20px;width:1000px;}
#navigation.index{height:85px;margin:22px auto;position:relative;text-align:center;top:35px;width:1000px;}
#navigation h2{display:inline;font-size:1.8em;margin:0 40px;padding:20px 0 0;}
#navigation a:link,a:visited{color:#CC2625;text-decoration:none;}
/* ===== footer styles =====  */div#footer{background-color:#FFF;height:15px;margin:-456px auto;position:relative;width:1000px;}
#footer.index{margin:-13px auto;}
#footer p{color:#E6E6E6;font-size:10pt;margin:0 50px 0 0;text-align:right;}
#bannerRight a:link,a:visited,.tab a:link,a:visited{color:#CC2526;text-decoration:none;}
#bannerRight a:hover,#bannerRight a.current,.tab a:hover,#navigation a:hover,#navigation a.current{color:#000;text-decoration:none;}