/* Horizontal Carousel */
#horizontal_carousel {
  width: 900px;
  height: 350px;
  padding:10px;
  background:#f6f6f6;
  border:solid 1px #e9e9e9;
  margin: 0px auto;
}


#horizontal_carousel .container {
position:relative;
margin: 0 auto;
width: 825px;
overflow: hidden;
}

#horizontal_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0px;
  height: 350px;
/*  border: 1px solid black;*/
  overflow: hidden;
}                      

#horizontal_carousel ul li {
  width: 750px;
  height: 350px;
  text-align: center; 
  list-style:none;   
  float: left;
/*  border: 1px solid black;*/
  padding: 25px;
}

#horizontal_carousel .buttons{
	display:block;
 	
}
#horizontal_carousel .previous_button {
  float:left;  
  width: 23px;
  height: 350px;
  background: url(img/but_prev.png) no-repeat center;
  z-index: 100;
  cursor: pointer;
/*  border: 1px solid black;*/
}

#horizontal_carousel .previous_button_over {
  background: url(img/but_prev_hover.png) no-repeat center;}

#horizontal_carousel .previous_button_disabled {
  background: url(img/but_prev_dis.png) no-repeat center;
  cursor: default;
}

#horizontal_carousel .next_button {
  float:right;  
  width: 23px;
  height: 350px;
  background: url(img/but_next.png) no-repeat center center;
  z-index: 100;
  cursor: pointer;
/*  border: 1px solid black;*/
  position: relative;
  top: -350px;
  
}

#horizontal_carousel .next_button_over {
  background: url(img/but_next_hover.png) no-repeat center;
}

#horizontal_carousel .next_button_disabled {
  background: url(img/but_next_dis.png) no-repeat center;
  cursor: default;
}